# Gradle & Build
.gradle/
build/

# IDE files (IntelliJ, Eclipse, VSCode)
.idea/
*.iml
*.iws
*.ipr
.out/
.sdkmanrc

# Compiled class file
*.class

# Log files
*.log

# Package Files
*.jar
*.war

# OS / System
.DS_Store